* {
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 26px verdana, sans-serif;
	color: rgb(0,255,0);
	text-shadow: rgb(1,1,1) 3px 3px 5px;
	text-align: center;
	padding: 20px;
}

h2 {
	font: bold 14px verdana, sans-serif;
	margin-left: 20px;

}
header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
	display: block;
}
header{
	margin-left: 20px;
}
section article h3{
	margin-left: 40px;
	font: 14px verdana, sans-serif;
	text-align: right
}
section article h4{
	margin-right: 40px;
	font: 14px verdana, sans-serif;
	text-align: right

}


body {
	text-align: center;
	background-color: #4682B4;
}

#agrupar {
	float: left;
	width: 960px;
	margin: 15px auto;
	margin-left: 300px;
	text-align: left;
}

#cabecera {
	display: block;
	width: 600px;
	margin: 50px auto;
	padding: 2px;
	text-align: center;

	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow: rgb(150,150,150) 5px 5px;
	-webkit-box-shadow: rgb(150,150,150) 5px 5px;
	box-shadow: rgb(150,150,150) 5px 5px 10px inset;
	background: linear-gradient(30deg, #FFFFFF, #B2FFA2);

}


#titulo
{
	font: bold 36px verdana, sans-serif;
	text-shadow: rgb(120,100,1) 3px 3px 5px;

}

#menu {
	background: #808080;
	padding: 5px 15px;
}
#menu li {
	display: inline-block;
	text-align: center;
	margin-left: 20px;
	padding: 10px;
	color:#FFFFFF;
	font: bold 16px verdana, sans-serif;
	font-weight: bold;
}
nav ul{
	display: inline-block;
}


#menubajo li{
	display: inline-block;
	text-align: right;
	margin-left: 40px;
	margin-right: 40px;
	padding: 5px;
	color:#FFFFFF;
	cursor:pointer;
	font: bold 14px verdana, sans-serif;
	font-weight: bold;
}

#seccion {
	float: left;
	width: 932px;
	margin:3px;
} 

#columna {
	float: right;
	width: 250px;
	height: auto;
	margin: 15px 15px;
	padding: 20px;
	background: #CCCCCC;
	
}

#pie {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #CCCCCC;
}



article {
	background: #C0C0C0;
	border: 1px solid #999999;
	padding: 0px;
	margin-bottom: 15px;
} 
article footer {
	text-align: right;
	margin-right: 40px;
	color:#FF00DE;

}
article time {
	text-align: right;
	margin-right: 10px;
	color: #FFF999;


}
figcaption p{
	font: italic 14px verdana, sans-serif;
	text-align: right;
	margin-right: 40px;
	color:#000000;
}

figure img{

	width: 860px;
	height: auto;
	margin-left: 30px;
	display: block;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.7);
	border-top: 20px
}

div {
	display: block;
	position: center;
	width: 100px;
	margin: 20px;
	padding: 10px;
	border: 2px solid #FFF;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#titreg{
	font-size: 1.6em;
	text-align: center;
	margin-top: 20px;	
}

section#formulario{
	
	top:50%;
	left: 50%;
	width:250px;
	min-height: 100px;
	background-color: #606060;
	overflow: hidden;
	border-radius: 5px;
}
img {
	float: left;

}

body aside img{
	position: center;
}


#fotos li{
	width: auto;
	margin-left: 160px;
	height: auto;
	display: block;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.7);
	border-top: 20px
}
#agruparf {
	float: left;
	width: 960px;
	margin: 15 auto;
	margin-left: 300px;
	display: block;
	text-align: center;
}


#menubajo2 {
	float: left;
	display: inline-block;

	margin-left: 30px;
	margin-right: 40px;
	padding: 5px;
	color:Black;
	cursor:pointer;
	font: bold 14px verdana, sans-serif;
	font-weight: bold;
}
#contevideo{
	display: inline-block;
	text-align: right;
	border: none;
	width: 960px;
	margin: 0 auto;
	text-align: center;

}
#cabvideo{
	display: block;
	width: 600px;
	margin: 0 auto;
	padding: 2px;
	text-align: center;

	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow: rgb(150,150,150) 5px 5px;
	-webkit-box-shadow: rgb(150,150,150) 5px 5px;
	box-shadow: rgb(150,150,150) 5px 5px 10px inset;
	background: linear-gradient(30deg, #FFFFFF, #B2FFA2);
}
#titvid
{
	font: bold 30px verdana, sans-serif;
	text-shadow: rgb(120,100,1) 3px 3px 5px;

}
#secvideo p{
	font: bold 20px verdana, sans-serif;
	color: white;
}
#secimag li {
	display: inline-block;
	text-align: right;
	margin-left: 30px;
	margin-right: 30px;
	padding: 5px;
	color:#FFFFFF;
	cursor:pointer;
	font: bold 14px verdana, sans-serif;
	font-weight: bold;

}
#contacto{

	display: inline-block;
	text-align: right;
	border: none;
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
#formulario{
	float: center;
	width: 400px auto;
	height: auto;
	margin: 20px 800px;
	padding: 40px;
	border: 2px solid #FFF;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: justify;
}
#formulario h1{
	font: bold 20px verdana, sans-serif;
	margin: 5px auto;

}
#noti{
	font: bold 20px verdana, sans-serif;
	margin: 5px auto;
}
#noti {
	font: 20px verdana, sans-serif;
	margin: 5px auto;
}